@import "../styles/colors.scss";
nav{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color:rgba(22, 22, 24, 0.534);
    top: 0%;
    z-index: 10;
    
>h1{
    text-transform: uppercase;
    color: white;
}>main{
    width: 70%;
    display: flex;
    justify-content: flex-end;
>a{
    color:white;
    margin: 1rem;
    font-weight: bold;
  &:hover{
      color: blue;
  }
  &:active{
    background-color: red;
    color: #fff;
  }
}
}
}